{% extends "base.html" %}
{% block title %}Course Comments{% endblock %}
{% block content %}
<div>
	<center><a href="http://localhost:13080">Table of Contents</a></center>
</div>
<div>
	<form method="post" action="/comments">
		Name:<br>
		<input type="text" name="name">
		<br>
		Comment:<br>
		<textarea name="comment_content" rows="3" cols="60"></textarea>
		<br>
		<input type="submit" value="Post Comment">
	</form>
</div>
<br>
<div>
	<h2>Reader Comments:</h2>
    <ul>
        {% for comment in comments %}
            <li>{{comment.comment_content}}</li>
            <li>{{comment.name}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}