{% extends "base.html" %}
{% block title %}Course Comments{% endblock %}
{% block content %}
<div>
	<center><a href="http://localhost:13080">Table of Contents</a></center>
</div>
<div>
	<form method="post" action="/comments">
		Name:<br>
		<!-- add required attribute after testing -->
		<input type="text" name="name" >
		<!-- required attribute not supported by Safari -->
		<br>
		Comment:<br>
		<!-- add required attribute after testing -->
		<textarea name="comment_content" rows="3" cols="60" ></textarea>
		<br>
		<input type="submit" value="Post Comment">
	</form>
</div>
<div>
<!-- for displaying a conditional error msg -->
	{% if blank_error %}<center><h3>{{blank_error}}</h3></center>{% endif %}
</div>
<br>
<div>
	<h2>Reader Comments:</h2>
    <ul>
        {% for comment in comments %}
            <li>{{comment.comment_content}} by {{comment.name}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}