{% extends "base.html" %}
{% block title %}Course Comments{% endblock %}
{% block content %}
<div>
	<center><a href="/">Table of Contents</a></center>
</div>
<div>
	<form method="post" action="/comments">
		Name:<br>
		<input type="text" name="name" required>
		<!-- required attribute not supported by Safari -->
		<br>
		Comment:<br>
		<textarea name="comment_content" rows="3" cols="60" required></textarea>
		<br>
		<input type="submit" value="Post Comment">
	</form>
</div>
<div>
	{% if blank_error %}<center><h3>{{blank_error}}</h3></center>{% endif %}
</div>
<br>
<div>
	<h2>Reader Comments:</h2>
    <ul>
        {% for comment in comments %}
            <li>{{comment.comment_content}} by {{comment.name}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}