{% extends "base.html" %}
{% block title %}Stage 5 Notes {% endblock %}
{% block content %}
	<div>
		<center><a href="/">Table of Contents</a></center>
	</div>
<div class="lesson">
		<h2 id="lesson-7">Lesson 7: </h2>
		<div class="section">
			<div class="section-title" id="lesson-7-1">
				title
			</div>
			<div class="section-text">
				<p>
					text
				</p>
			</div>
		</div>
		<div class="section">
			<div class="section-title" id="lesson-7-2">
				title
			</div>
			<div class="section-text">
				<p>
					text
				</p>
			</div>
		</div>
		<div class="section">
			<div class="section-title" id="lesson-7-3">
				title
			</div>
			<div class="section-text">
				<p>
					text
				</p>
			</div>
		</div>
	</div>
{% endblock %}