{% extends "base.html" %}
{% block title %}Stage 1 Notes {% endblock %}
{% block content %}
	<div>
		<center><a href="http://localhost:13080">Table of Contents</a></center>
	</div> 
	<div class="lesson">
		<h2 id="lesson-1">Lesson 1: The Web and HTML</h2>
		<div class="section">
			<div class="section-title" id="lesson-1-1">
				The Web
			</div>
			<div class="section-text">
				<p>
					The <a href="http://en.wikipedia.org/wiki/World_Wide_Web">World Wide Web</a> is a collection of connected HTML documents. <a href="http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP</a> stands for hypertext transfer protocol and it defines the rules for transferring files among computers, servers, and software (like browsers) on the web.
				</p>
			</div>
		</div>
		<div class="section">
			<div class="section-title" id="lesson-1-2">
				HTML
			</div>
			<div class="section-text">
				<p>
					<a href="http://en.wikipedia.org/wiki/HTML">HTML</a> stands for hypertext markup language; it is the code behind HTML documents that tells computers and browsers what information to display. An element of HTML is composed of an opening tag, content, and a closing tag, except in the case of void tags which do not require a closing tag. Elements are either inline or block; the latter forms a box around the content inside. Tags are often assigned attributes which change the functionality of an element, such as color or creating a link.
				</p>
			</div>
		</div>
		<div class="section">
			<div class="section-title" id="lesson-1-3">
				Last Words
			</div>
			<div class="section-text">
				<p>
					In general, don't worry about memorizing bits of code; anything you haven't memorized by common use is easily found with a Google search or common resources, like <a href="http://www.w3schools.com/html/default.asp">w3schools</a> or <a href="http://stackoverflow.com/">Stack Overflow</a>.
				</p>
			</div>
		</div>
	</div>
	<div class="lesson">
		<h2 id="lesson-2">Lesson 2: Structure and Tools</h2>
		<div class="section">
			<div class="section-title" id="lesson-2-1">
				Document Object Model (DOM)
			</div>
			<div class="section-text">
				<p> 
					The <a href="http://en.wikipedia.org/wiki/Document_Object_Model">DOM</a> refers to the tree-like or nested structure of HTML documents. A web page can be viewed as a series of nested boxes in which content resides. Properly structured code uses indentation to reflect the organization of the boxes.
				</p>
			</div>
		</div>
		<div class="section">
			<div class="section-title" id="lesson-2-2">
				Tools
			</div>
			<div class="section-text">
				<p>
					Chrome and other browsers have developer tools that can be used to inspect the code behind a web page.
				</p>
				<p>
					Text editors like <a href="http://www.sublimetext.com/">Sublime Text</a> are used to write code because they make life for a programmer a bit easier by automatically completing bits of code, identifying <a href="http://en.wikipedia.org/wiki/Syntax_(programming_languages)">syntax</a> errors, and more.
				</p>
			</div>
		</div>
	</div>
{% endblock %}